div{
    height: 1000px;
    width: 1000px;
    background-color: bisque;
    border: 10px solid black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#image{
    border-radius: 50%;
align-self: center;
position: relative;
top: 20px;
}
#name{
    align-self: flex-end;
    
}
#date{
    align-self: flex-end;
    
}
#link{
    align-self: center;
}
#id1{
    font-size: 40px;
}
#bio{
    font-size: 30px;
    
}